:root {
  /*
  --background: #221333;
  --dark: #1D1E21;
  --million: #eca900;
  --secondary: #E8E7EE;
  --primary: #3C6E71;
  --light-gray: #6c757d59;
  */
}

body {
  background-color: var(--dark);
  color: white;
}
